{% extends './base.html' %}

{% load static %}
{% load humanize %}

{% block body%}



<div class="container marketing">
  
  <div class="row">

    <hr class = "featurette-divider"
        style = "padding-top : 6%; padding-bottom: 5%; background-color: transparent;">

    <div class="row featurette">
      <div class="col-md-7" id="about-us">
        <h2 class="featurette-heading">Quiénes somos <span class="text-muted"> </span></h2>
        <p class="lead">
          Maipo Grande agrupa empresas dedicadas a la producción de frutas en la zona metropolitana
          sur. La misión de la empresa es facilitar la comercialización de los productos de sus diferentes clientes en el
          mercado extranjero y local.
        </p>
      </div>
      <div class="col-md-5">
        <img class="featurette-image img-fluid mx-auto" src="{% static 'img/info/about-us.png' %}" alt="">
      </div>
    </div>

    <hr class = "featurette-divider"
        style = "padding-top : 5px; padding-bottom: 20px; background-color: transparent;">
    <hr class="featurette-divider">


    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Eficiente <span class="text-muted">Véalo por usted mismo</span></h2>
        <p class="lead">
          Nuestro sistema de información, permite integrar los procesos de gestión de
          contratos, procesos de venta al extranjero, procesos de ventas locales y subastas de trasportes. De esta
          manera se logra facilitar el flujo de información entre los diferentes clientes de la organización, otorgándoles la
          posibilidad de estar en todo momento informado del estado de sus productos y del proceso de venta.
        </p>
      </div>
      <div class="col-md-5 order-md-1">
        <img class="featurette-image img-fluid mx-auto" src="{% static 'img/info/efficiency.png' %}" alt="">
      </div>
    </div>

    <hr class = "featurette-divider"
        style = "padding-top : 5px; padding-bottom: 20px; background-color: transparent;">
    <hr class="featurette-divider">


    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Usuarios <span class="text-muted"> </span></h2>
        <p class="lead">
          Cada Usuario tiene un acceso de acuerdo a sus funciones para agilizar la toma de decisiones y
          la ejecución de la cadena de procesos que se producen cada vez que hay una venta. Considerando la
          seguridad y correctitud de los datos, además de la disponibilidad de la información y la consistencia.
        </p>
      </div>
      <div class="col-md-5">
        <img class="featurette-image img-fluid mx-auto" src="{% static 'img/info/users-account.png' %}" alt="">
      </div>
    </div>


    <hr class = "featurette-divider"
        style = "padding-top : 5px; padding-bottom: 20px; background-color: transparent;">
    <hr class="featurette-divider">

    

    <div class="row featurette">
      <div class="col-md-12" id="locate-us">
        <h2 class="featurette-heading">Localízanos <span class="text-muted"> </span></h2>
        <br>
      </div>
    </div>

    <div class="row featurette">
      <div class="col-md-12 order-md-1">
        <div class="map-holder">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3329.7001990865106!2d-70.62595598423722!3d-33.43105970390454!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662c587da2eda0f%3A0x2f94c05135b109d8!2sAv.%20Providencia%20666%2C%20Providencia%2C%20Regi%C3%B3n%20Metropolitana!5e0!3m2!1ses-419!2scl!4v1621835274713!5m2!1ses-419!2scl"
            frameborder="0"
            style="border:0"
            allowfullscreen
            loading="lazy">
          </iframe>
                
          <style>
            .map-holder {
              position: relative;
              padding-bottom: 30%;
              height: 0;
              overflow: hidden;
            }
                  
            .map-holder iframe {
              position: absolute;
              top: 0;
              left: 0;
              width: 100% !important;
              height: 100% !important;
            }
          </style>
        </div>
      </div>
    </div>

      

    <hr class="featurette-divider">
    <div class="row featurette">
      <div class="col-md-12 order-md-1">
        <div class="card"  id="contact-form">
          <div class="card-body">

            <form class="form" action="" method="POST">

              <div class="form-group">
                <h2 class="featurette-heading">Contáctanos <span class="text-muted"> </span></h2>
                <br></br>
                {% csrf_token %}

                {{ contact_form.as_p }}


                <div class="d-grid gap-2 col-6 mx-auto">
                  <form>

                    <button class="btn btn-primary btn-danger btn-lg text-white" type="submit" id="btn-submit" href="#">
                        
                      <span class="icon">
                        <i class="fa-solid fa-paper-plane"></i>
                      </span>

                      <span class="btn-text">
                        Enviar
                      </span>

                    </button>
                  </form>
                </div>


                <br></br>

                
              </div>
            </form> 
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}