{% extends './layout.html' %}
{% load humanize %}

{% block content %}

<style>

    .text-title {
        padding-top : 60px;
        padding-bottom: 100px;
    }

    #searcher {
		padding-top: 50px;
		padding-bottom: 100px;
	}
    
    
</style>


<div class="row">

    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12"> <!-- 4 -->



		<div class="p-3 mb-2 bg-dark text-white">
			<h1 class="display-6 text-title text-center">Orden</h1>
		</div>


        <hr class = "featurette-divider"
            style = "padding-top : 10px; padding-bottom: 20px; background-color: transparent;">


        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12"> 

            <!-- transacciones, estado de transacciones -->
            {% for transaction_info in transactions %}
                {% for transaction in transaction_status %}

                    <div class="table-responsive py-4">
                        <table class="table table-striped">
                            <!--<thead>
                                <tr>
                                    <th></th>
                                </tr>
                            </thead> -->
                            
                            <tbody>

                                <tr>
                                    <div class="container-article">
                                        
                                        <div>
                                            <div class="card text-white bg-dark mb-3" style="max-width: 100%; max-height : auto; border-radius: 20px;">
                                                <div class="card-header">


                                                    {% if transaction.status == "PEDIDO AUN NO PROCESADO"%}
                                                        <h2 class="h2 text-start text-light">Estado  <span class="text-light">{{ transaction.status }}</span></h2>

                                                        <div class="progress">
                                                            <div class="progress-bar bg-light" role="progressbar" style="width: 15%" aria-valuenow="15" aria-valuemin="15" aria-valuemax="100"></div>
                                                        </div>
                                                    {% elif transaction.status == "PEDIDO PROCESADO"%}
                                                        <h2 class="h2 text-start text-light">Estado  <span class="text-warning">{{ transaction.status }}</span></h2>

                                                        <div class="progress">
                                                            <div class="progress-bar bg-warning" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="25" aria-valuemax="100"></div>
                                                        </div>

                                                    {% elif transaction.status == "EN TRANSITO"%}
                                                        <h2 class="h2 text-start text-light">Estado  <span class="text-info">{{ transaction.status }}</span></h2>

                                                        <div class="progress">
                                                            <div class="progress-bar bg-info" role="progressbar" style="width: 65%" aria-valuenow="65" aria-valuemin="65" aria-valuemax="100"></div>
                                                        </div>
                                                    
                                                    {% elif transaction.status == "PEDIDO ENTREGADO"%}
                                                        <h2 class="h2 text-start text-light">Estado  <span class="text-success">{{ transaction.status }}</span></h2>

                                                        <div class="progress">
                                                            <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="100" aria-valuemax="100"></div>
                                                        </div>


                                                    {% endif %}

                                                    <br></br>
                                                </div>
                                                
                                                <div class="card-body">

                                                    <div class="row">


                                                        <div class="col-sm">
                                                            <h6 class="h6 text-start">Nombre del cliente <span class="text-muted"> {{ transaction.client }}</span></h6>
                                                            <h6 class="h6 text-start">Nombre del productor <span class="text-muted"> {{ transaction.producer }}</span></h6>
                                                            <h6 class="h6 text-start">Nombre del transportista <span class="text-muted"> {{ transaction.transportist }}</span></h6>
                                                            <h6 class="h6 text-start">Numero de seguimiento  #<span class="text-muted">{{ transaction.tracking_number }}</span></h6>
                                                            
                                                            <h6 class="h6 text-start">Transporte<span class="text-muted">
                                                                {{ transaction_info.transport_type }} {{ transaction_info.transport_patent }}</span></h6>
                                                            <br></br>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
            
                                    </div>

                                </tr>

                            </tbody>

                        </table>
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
    </div>
</div>


{% endblock %}