{% extends './feed.html' %}

{% load static %}
{% load humanize %}
{% block content %}


<style>

    .text-title {
        padding-top : 60px;
        padding-bottom: 100px;
    }
    
    .card-profile {
        padding-top : 10px;
        padding-bottom: 15px;
    }

</style>


<div class="row">
    <div class="table-responsive">

        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">

            <div class="p-3 mb-2 bg-dark text-white" style="border-radius: 20px;">
                
                <div class="p-3 mb-2 bg-dark text-white">
                    <h1 class="display-6 text-title text-center">MiPerfil</h1>
                </div>


                <div class="col-12">
                    <div class="card card-header bg-dark">
                        <div class="table-responsive py-4">
                            <table class="table table-striped">
                                <hr class = "featurette-divider"
                                    style = "background-color: transparent;">
                        
                                <tbody>
            
                                    <tr>
                                        <div class="container-article">
                                                
                                            <div>
            
                                                <div class="card text-white bg-dark mb-3" style="max-width: 100%;">
                                                        
                                                    <div class="card-body">
            
                                                        <div class="row">
                                                            <div class="col-sm col-md-4 col-lg-4 col-xl-4"">
                                                                <div class="card-body">
                                                                    <img class="rounded-circle card-img"
                                                                        src="{{ user.profile.image.url }}"
                                                                        alt="">
                                                                        
                                                                </div>
                                                            </div>
                                                                
                                                            <div class="col-sm col-md col-lg-8 col-xl-6"">
            
                                                                <div class="card-body">
                                                    
                                                                    <h2 class ="h2" id="username" class="text-start text-light">Publicaciones</h2>
                                                                    
                                                                    <p>{{ user.posts.count }}</p>
                                                                </div>
                                                                
                                                                <div class="card-body">
                                                                    <h2 class ="h2" id="username" class="text-start text-light">Seguidores</h2>
                                                                    <p>{{ user.profile.followers.count }}</p>
                                                                    
                                                                </div>
                                                                <div class="card-body">
                                                                    <h2 class ="h2" id="username" class="text-start text-light">Seguidos</h2>
                                                                    <p>{{ user.profile.following.count }}</p>
                                                                
                                                                </div>

                                                                <div class="card-body">
            
                                                                    {% if request.user.is_authenticated %}

                                                                        {% if user.username == request.user.username %}

                                                                            <div class="d-grid gap-2 col-sm col-md col-lg-6 col-xl-8">


                                                                                <a class="btn btn-outline-warning btn-group-sm"
                                                                                    type="submit"
                                                                                    href="{% url 'bank_account' %}"
                                                                                    role="button"
                                                                                    style="border-radius: 20px;">
                                                                                    <span class="icon">
                                                                                        <i class="fa-solid fa-bank"></i>
                                                                                    </span>
                                                                            
                                                                                    <span class="btn-text">
                                                                                        Ver MiBanco
                                                                                    </span>
                                                                                </a>
                                                                            </div>

                                                                            <hr class = "featurette-divider"
                                                                            style = "background-color: transparent;">
                                                                        
                                                                        {% endif %}

                                                                        {% if user.username != request.user.username %}
                                                                            {% if user not in request.user.profile.following %}
                                                                                <div class="d-grid gap-2 col-sm col-md col-lg-6 col-xl-8">
                                                                                    
                                                                                    <a class="btn btn-success btn-group-sm" href="{% url 'follow' user %}" role="button"  style="border-radius: 20px;">
                                                                                    
                                                                                        <span class="icon">
                                                                                            <i class="fa-solid fa-user-plus"></i>
                                                                                        </span>
                                                                                
                                                                                        <span class="btn-text">
                                                                                            Seguir a {{ user }}
                                                                                        </span>
                                                                                    </a>

                                                                                </div>
                                                
                                                                            {% else %}
                                                
                                                                            <div class="d-grid gap-2 col-sm col-md col-lg-6 col-xl-8">
                                                                                    <a class="btn btn-danger btn-group-sm" href="{% url 'unfollow' user %}" role="button"  style="border-radius: 20px;">
                                                                                    
                                                                                        <span class="icon">
                                                                                            <i class="fa-solid fa-user-minus"></i>
                                                                                        </span>
                                                                                
                                                                                        <span class="btn-text">
                                                                                            Dejar de seguir a {{ user }}
                                                                                        </span>
                                                                                    </a>
                                                                                </div>
                                                
                                                                            {% endif %}
                                                                        {% endif %}
                                                                    
                                                                    {% endif %}
                                                                </div>
            
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>





            </div>














            
        </div>




    </div>




    <hr class = "featurette-divider"
        style = "padding-top : 10px; padding-bottom: 20px; background-color: transparent;">



    <div class="col-12"  style="border-radius: 20px;">
        <div class="p-3 mb-2 bg-dark text-white"  style="border-radius: 20px;">
            <h1 class="display-6 text-start">Información personal</h1>

            <hr class = "featurette-divider"
            style = "padding-top : 10px; padding-bottom: 20px; background-color: transparent;">

            <div class="card"  style="border-radius: 20px;">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-12 col-md-6 col-lg-8 col-xl-12">
                            
                            <form>
                                <fieldset disabled>
                                    <div class="mb-3">
                                        <label for="username" class="form-label">Nombre de usuario</label>
                                        <input type="text" id="username" class="form-control" placeholder="{{ user.username }}">
                                    </div>
    
    
                                    <div class="mb-3">
                                        <label for="email" class="form-label">E-mail</label>
                                        <input type="text" id="email" class="form-control" placeholder=" {{ user.email }}">
                                    </div>
    
                                    <div class="mb-3">
                                        <label for="type" class="form-label">Tipo de usuario</label>
                                        <input type="text" id="type" class="form-control" placeholder=" {{ user.type }}">
                                    </div>
    
    
                                    <div class="mb-3">
                                        <label for="first_name" class="form-label">Nombres</label>
                                        <input type="text" id="first_name" class="form-control" placeholder=" {{ user.first_name }}">
                                    </div>
    
                                    <div class="mb-3">
                                        <label for="last_name" class="form-label">Apellidos</label>
                                        <input type="text" id="last_name" class="form-control" placeholder=" {{ user.last_name }}">
                                    </div>
    
                                        
    
                                </fieldset>
                                    
                                {% if user.username == request.user.username %}
                                    <div class="mb-3">
                                        <label for="password" class="form-label">Contraseña para la aplicacion de escritorio</label>
                                        <input type="text" id="password" value="{{ user.password }}" class="form-control" placeholder=" {{ user.password }}" readonly>
                                    </div>
                                    <div class="d-flex flex-row-reverse">
                                        <script>
                                            function copyToClipboard() {
                                                // Create a "hidden" input
                                                var textBox = document.getElementById("password");
                                                textBox.select();
                                                document.execCommand("copy");
                                            }
                                        </script>
                                        <button class="btn btn-outline-success btn-lg" type="submit"onclick="copyToClipboard()">
                                            Copiar contraseña
                                        </button>
                                    </div>
                                {% endif %}
    
                            </form>
    
                        </div>
    
                    </div>
    
                </div>
            
            </div>
        </div>
        

    </div>


    <hr class = "featurette-divider"
        style = "padding-top : 10px; padding-bottom: 20px; background-color: transparent;">



    <div class="col-12">
        <div class="p-3 mb-2 bg-dark text-white" style="border-radius: 20px;">
            <h1 class="display-6 text-start">Publicaciones</h1>


            <hr class = "featurette-divider"
                style = "background-color: transparent;">
            {% for post in posts %}
                <div class="table-responsive" style="border-radius: 20px;"> 
                    <table class="table table-striped">

                        <hr class = "featurette-divider"
                            style = "background-color: transparent;">
                
                        <tbody>

                            <tr>
                                <div class="container-article">
                                    <hr class = "featurette-divider"
                                    style = "background-color: transparent;">
                                        
                                    <div>
                                        <h2 class ="h2" id="username" class="text-start text-light"><a href="{% url 'profile' post.user.username %}"></a></h2>

                                        <div class="card text-white bg-dark mb-3" style="max-width: 100%;">
                                            <div class="card-header">
                                                <i class="clock"></i>
                                                <time data-time="#">{{ post.timestamp|naturaltime }}</time>
                                                <br></br>
                                                {% if request.user.type == "PRODUCTOR" %}
                                                    <h2 class="h2 text-start text-light">Producto <span class="text-muted">{{ post.title }}</span></h2>

                                                {% elif request.user.type == "TRANSPORTISTA" %}
                                                    <h2 class="h2 text-start text-light">Transporte <span class="text-muted">{{ post.type }}</span></h2>
                                                {% endif %}
                                            </div>
                                                
                                            <div class="card-body">

                                                <div class="row">
                                                    <div class="col-sm">
                                                        <div class="col-12">
                                                            {% if post.image %}
                                                                <img class="card-img img-fluid" src="{{ post.image.url }}" alt="" style="max-width : 600px; max-height : 300px; border-radius: 20px;">
                                                            {% endif %}
                                                        </div>
                                                    </div>

                                                    {% if request.user.type == "PRODUCTOR" %}
                                                        
                                                        <div class="col-sm">
                                                            <h6 class="h6 text-start">Precio <span class="text-muted"> $ {{ post.price }}</span></h6>
                                                            <h6 class="h6 text-start">Kilogramos disponibles <span class="text-muted">{{ post.quantity }}</span></h6>
                                                            <h6 class="h6 text-start">Descripcion <span class="text-muted">{{ post.description }}</span></h6>

                                                            <div class="d-flex flex-row-reverse">
                                                                <form>
                                                                    {% if user.username == request.user.username %}
                        
                                                                        {% if request.user.type == "PRODUCTOR" %}
                                                                            <button class="btn btn-outline-success btn-md px-2" 
                                                                                    type="submit"
                                                                                    formaction="{% url 'product_sold' id_product=post.id %}"
                                                                                    style="border-radius: 20px;">
                                                                                
                                                                                <span class="icon">
                                                                                    <i class="fa-solid fa-eye"></i>
                                                                                </span>
                                                                                
                                                                                <span class="btn-text">
                                                                                    Ver proceso de venta
                                                                                </span>
                                                                            </button>
                                                                        {% elif request.user.type == "CLIENTE INTERNO" or request.user.type == "CLIENTE EXTERNO" %}
                                                                            <button class="btn btn-outline-success btn-md px-2" 
                                                                                    type="submit"
                                                                                    formaction="{% url 'product_sale' id_product=post.id %}">
                                                                                    
                                                                                <span class="icon">
                                                                                    <i class="fa-solid fa-dollar-sign"></i>
                                                                                </span>
                                                                    
                                                                                <span class="btn-text">
                                                                                    Comprar producto
                                                                                </span>
                                                                            </button>



                                                                        {% endif %}
                                                                        
                                                                    {% endif %}
                                                                </form>
                                                            </div>
                                                        </div>



                                                    {% elif request.user.type == "TRANSPORTISTA" %}

                                                        <div class="col-sm">
                                                            <h6 class="h6 text-start">Patente <span class="text-muted"> $ {{ post.patent }}</span></h6>
                                                            <h6 class="h6 text-start">Tamaño  <span class="text-muted">{{ post.size }}</span></h6>
                                                            <h6 class="h6 text-start">Capacidad de soporte <span class="text-muted">{{ post.capacity }}</span></h6>
                                                            <h6 class="h6 text-start">Refrigeracion <span class="text-muted">{{ post.refrigeration }}</span></h6>

                                                            <div class="d-flex flex-row-reverse">
                                                                <form>
                                                                    {% if user.username == request.user.username %}
                        
                                                                        {% if request.user.type == "PRODUCTOR" %}
                                                                            <button class="btn btn-outline-success btn-md px-2" 
                                                                                    type="submit"
                                                                                    formaction="{% url 'product_sold' id_product=post.id %}"
                                                                                    style="border-radius: 20px;">
                                                                                
                                                                                <span class="icon">
                                                                                    <i class="fa-solid fa-eye"></i>
                                                                                </span>
                                                                                
                                                                                <span class="btn-text">
                                                                                    Ver proceso de venta
                                                                                </span>
                                                                            </button>
                                                                        {% elif request.user.type == "CLIENTE INTERNO" or request.user.type == "CLIENTE EXTERNO" %}
                                                                            <button class="btn btn-outline-success btn-md px-2" 
                                                                                    type="submit"
                                                                                    formaction="{% url 'product_sale' id_product=post.id %}">
                                                                                    
                                                                                <span class="icon">
                                                                                    <i class="fa-solid fa-dollar-sign"></i>
                                                                                </span>
                                                                    
                                                                                <span class="btn-text">
                                                                                    Comprar producto
                                                                                </span>
                                                                            </button>



                                                                        {% endif %}
                                                                        
                                                                    {% endif %}
                                                                </form>
                                                            </div>
                                                        </div>



                                                    {% endif %}




                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </tr>
                        </tbody>

                    </table>
                </div>
            {% endfor %}

        </div>

        


        {% if posts.count == 0 %}
            <div class="mb-2bg-white text-dark" style="padding-top: 100px; padding-bottom: 100px;">
                <h1 class="display-6 text-center">No hay publicaciones disponibles por el momento ☹</h1>
            </div>
        {% endif %}




    </div>
</div>
{% endblock %}