{% extends './layout.html' %}
{% block content %}
{% load humanize %}
{% load static %}


<div class="row">
    <div class="col-12">
        

		{% if banks.count > 0 %}

			<h2 class ="h2 text-start text-dark">Cuentas disponibles</h2>

		{% else %}

			<h2 class ="h2 text-start text-dark">No hay cuentas registradas</h2>

		{% endif %}

        <br></br>

        {% for bank in banks %}

		<div class="card">
                
			<div class="card-body">

				<div class="row">
					<div class="col-sm-12 col-md-6 col-lg-8 col-xl-12">
						<br></br>
                        <legend>{{ bank.type_bank_account }}</legend>
						
						<div class = "form-group">
							<fieldset disabled>
								
								<div class="mb-3">
									<label for="bank_name" class="form-label">Nombre del Banco</label>
									<input type="text" id="bank_name" class="form-control" placeholder="{{ bank.bank_name }}">
								</div>


								<div class="mb-3">
									<label for="type_bank_account" class="form-label">Tipo de Cuenta Bancaria</label>
									<input type="text" id="type_bank_account" class="form-control" placeholder=" {{ bank.type_bank_account }}">
								</div>

								<div class="mb-3">
									<label for="bank_account_number" class="form-label">Numero de Cuenta Bancaria</label>
									<input type="text" id="bank_account_number" class="form-control" placeholder=" {{ bank.bank_account_number }}">
								</div>

								<div class="mb-3">
									<label for="bank_amount" class="form-label">Saldo disponible</label>
									<input type="text" id="bank_amount" class="form-control" placeholder="$ {{ bank.bank_amount }}">
								</div>

								<div class="mb-3">
									<label for="owner_full_name" class="form-label">Nombre completo del titular</label>
									<input type="text" id="owner_full_name" class="form-control" placeholder=" {{ bank.owner_full_name }}">
								</div>
							
							</fieldset>

							<a class="btn btn-primary btn-danger btn-md px-5" type="submit" href="{% url 'delete_bank_account' bank.id_bank_account %}" id="btn-delete-bank-account">
								<i class="fa-solid fa-trash"></i>
								Eliminar cuenta 
							</a>

						</div>
					</div>
				</div>
			</div>
		</div>
        {% endfor %}
    </div>


    <div class="col-12">
		<br></br>
		<br></br>
		<br></br>

        <h2 class ="h2 text-start text-dark">Añade una nueva cuenta bancaria</h2>
        <br></br>
        
		<div class="card">
                
			<div class="card-body">

				<div class="row">
					<div class="col-sm-12 col-md-6 col-lg-8 col-xl-12">
						<br></br>



						<form action="" method="POST" enctype="multipart/form-data">
							{% csrf_token %}

							<div class="col-sm-12 col-md-6 col-lg-8 col-xl-12">

								<div class="table-responsive py-4">

									<table class="table table-striped">

										<thead>
											<tr>
												<th></th>
											</tr>
										</thead>
										
										<tbody>
					
											<tr>
												{{ form.as_p }}
												<br></br>

					
												<div class="d-grid gap-2 col-6 mx-auto">

													<button class="btn btn-primary btn-danger btn-lg text-white"  type="submit" href="#" id="btn-add-bank-account">
														<i class="fa-solid fa-building-columns"></i>
														Agregar cuenta bancaria
													</button>

												</div>

												<br></br>

											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
    </div>
</div>

{% endblock %}