{% extends './layout.html' %}

{% block content %}



{% load humanize %}
{% load static %}





<div class="row">


    <div class="col-12">
		<br></br>
		<br></br>

        <h2 class ="h2 text-start text-dark">Crea una nueva publicacion</h2>
        <br></br>
        
		<div class="card">
                
			<div class="card-body">

				<div class="row">
					<div class="col-sm-12 col-md-6 col-lg-8 col-xl-12">
						<br></br>
                        <legend></legend>
						<form action="" method="POST" enctype="multipart/form-data">
							{% csrf_token %}
							<div class="col-sm-12 col-md-6 col-lg-8 col-xl-12">
								<div class="table-responsive py-4">
									<table class="table table-striped">
										<thead>
											<tr>
												<th></th>
											</tr>
										</thead>
										
										<tbody>
					
											<tr>
												{{ form.as_p }}
					
												<div class="d-grid gap-2 col-6 mx-auto">
													<button class="btn btn-primary btn-danger btn-lg text-white" type="submit" href="#" id="btn-post">
														<i class="fa-solid fa-circle-plus"></i>
														Publicar producto
													</button>
													<br></br>

												</div>
					
											</tr>
										</tbody>
									</table>
									<br></br>

								</div>
							</div>
						</form>
					</div>

				</div>

			</div>
		</div>
    </div>
</div>
{% endblock %}