{% extends './feed.html' %}

{% load static %}
{% load humanize %}
{% block content %}



<style>

    .text-title {
        padding-top : 60px;
        padding-bottom: 100px;
    }
    
    .card-profile {
        padding-top : 10px;
        padding-bottom: 15px;
    }

</style>


<div class="row">
    <div class="table-responsive">

        <div class="col-sm-12 col-md-12 col-lg-4 col-xl-12">

            <div class="p-3 mb-2 bg-dark text-white">
                <h1 class="display-6 text-title">MiPerfil</h1>
            </div>


            <div class="card card-profile">
                <div class="card-body">
                    <div>
                        <div class="card-body">
                            <img class="rounded-circle" src="{{ user.profile.image.url }}" alt="" width="60" height="60">
                        </div>
                        <div class="card-body">
                            <h2 class ="h2" id="username" class="text-start text-light">Publicaciones</h2>
                            <p>{{ user.posts.count }}</p>
                        </div>
                        
                        <div>
                            <h2 class ="h2" id="username" class="text-start text-light">Seguidores</h2>

                            <p>{{ user.profile.followers.count }}</p>
                        
                        </div>
                        <div>
                            <h2 class ="h2" id="username" class="text-start text-light">Seguidos</h2>
                            <p>{{ user.profile.following.count }}</p>
                        </div>

                        {% if request.user.is_authenticated %}
                        {% if user.username != request.user.username %}
                            {% if user not in request.user.profile.following %}
                            <div>
                                <a class="btn btn-outline-warning btn-lg" href="{% url 'follow' user %}" role="button">Seguir</a>

                            </div>

                            {% else %}

                            <div>
                                <a class="btn btn-outline-danger btn-lg" href="{% url 'unfollow' user %}" role="button">Dejar de seguir</a>

                            </div>

                            {% endif %}
                        {% endif %}
                        {% endif %}
                        </div>
                    </div>
                </div>
            </div>


        </div>

        <br></br>
        <br></br>
    
        <div class="col-12">
    

            <div class="p-3 mb-2 bg-dark text-white">
                <h1 class="display-6 text-start">Informacion personal</h1>
            </div>
            <div class="card">
                
                <div class="card-body">

                    <div class="row">
                        <div class="col-sm-12 col-md-6 col-lg-8 col-xl-12">
                            
                            <form>
                                <fieldset disabled>

                                    <div class="mb-3">
                                        <label for="username" class="form-label">Nombre de usuario</label>
                                        <input type="text" id="username" class="form-control" placeholder="{{ user.username }}">
                                    </div>


                                    <div class="mb-3">
                                        <label for="email" class="form-label">E-mail</label>
                                        <input type="text" id="email" class="form-control" placeholder=" {{ user.email }}">
                                    </div>

                                    <div class="mb-3">
                                        <label for="type" class="form-label">Tipo de usuario</label>
                                        <input type="text" id="type" class="form-control" placeholder=" {{ user.type }}">
                                    </div>


                                    <div class="mb-3">
                                        <label for="first_name" class="form-label">Nombres</label>
                                        <input type="text" id="first_name" class="form-control" placeholder=" {{ user.first_name }}">
                                    </div>

                                    <div class="mb-3">
                                        <label for="last_name" class="form-label">Apellidos</label>
                                        <input type="text" id="last_name" class="form-control" placeholder=" {{ user.last_name }}">
                                    </div>

                                    

                                </fieldset>
                                
                                {% if user.username == request.user.username %}
                                <div class="mb-3">
                                    <label for="password" class="form-label">Contraseña para la aplicacion de escritorio</label>
                                    <input type="text" id="password" value="{{ user.password }}" class="form-control" placeholder=" {{ user.password }}" readonly>
                                </div>
                                <div class="d-flex flex-row-reverse">
                                    <script>
                                        function copyToClipboard() {
                                            // Create a "hidden" input
                                            var textBox = document.getElementById("password");
                                            textBox.select();
                                            document.execCommand("copy");
                                        }
                                    </script>
                                    <button class="btn btn-outline-success btn-lg" type="submit"onclick="copyToClipboard()">
                                        Copiar contraseña
                                    </button>
                                </div>
                                {% endif %}

                            </form>

                        </div>

                    </div>

                </div>
            </div>
        </div>

    </div>

    <br></br>
    <br></br>

    <div class="col-12">
        <div class="p-3 mb-2 bg-dark text-white">
            <h1 class="display-6 text-start">Publicaciones</h1>
        </div>



        {% if posts.count == 0 %}
        <div class="mb-2bg-white text-dark" style="padding-top: 100px; padding-bottom: 100px;">
            <h1 class="display-6 text-center">No hay publicaciones disponibles por el momento ☹</h1>
        </div>

        {% else %}
        
        {% for post in posts %}
        <div class="table-responsive py-4">
            <table class="table table-striped">


                <thead>
                    <tr>
                        <th></th>
                    </tr>
                </thead>
                    
                <tbody>

                    <tr>
                        <div class="container-article">
                                
                            <div>
                                <h2 class ="h2" id="username" class="text-start text-light"><a href="{% url 'profile' post.user.username %}"></a></h2>

                                <div class="card text-white bg-dark mb-3" style="max-width: 100%;">
                                    <div class="card-header">
                                        <i class="clock"></i>
                                        <time data-time="#">{{ post.timestamp|naturaltime }}</time>
                                        <br></br>
                                        <h2 class="h2 text-start text-light">Producto <span class="text-muted">{{ post.title }}</span></h2>
                                    </div>
                                        
                                    <div class="card-body">

                                        <div class="row">
                                            <div class="col-sm">
                                                <div class="col-12">
                                                    {% if post.image %}
                                                    <img class="card-img img-fluid" src="{{ post.image.url }}" alt="" style="max-width : 600px; max-height : 300px">
                                                    {% endif %}
                                                </div>
                                            </div>
                                                
                                            <div class="col-sm">
                                                <h6 class="h6 text-start">Precio <span class="text-muted"> $ {{ post.price }}</span></h6>
                                                <h6 class="h6 text-start">Kilogramos disponibles <span class="text-muted">{{ post.quantity }}</span></h6>
                                                <h6 class="h6 text-start">Descripcion <span class="text-muted">{{ post.description }}</span></h6>

                                                <div class="d-flex flex-row-reverse">
                                                    <form>
                                                        {% if user.username == request.user.username %}
                                                        <button class="btn btn-outline-success btn-lg" type="submit"formaction="{% url 'profile' request.user.username %}">Ver ofertas</button>
        
                                                        {% endif %}

                                                        {% if request.user.type == "CLIENTE INTERNO" %}
                                                        
                                                        <button class="btn btn-outline-success btn-lg" type="submit"formaction="{% url 'profile' post.user.username %}">Ofrecer oferta</button>

                                                        {% elif request.user.type == "CLIENTE EXTERNO" %}
                                                        
                                                        <button class="btn btn-outline-success btn-lg" type="submit"formaction="{% url 'profile' post.user.username %}">Ofrecer oferta</button>
                                                        {% endif %}
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </tr>
                </tbody>

            </table>
        </div>
        {% endfor %}


        {% endif %}
    </div>
</div>
{% endblock %}