{% extends './layout.html' %}
{% block content %}
{% load humanize %}
{% load static %}


<div class="row">
    <div class="col-12">

		{% if requests.count > 0 %}
        <h2 class ="h2 text-start text-dark">Estados de las solicitudes</h2>

		{% else %}
        <h2 class ="h2 text-start text-dark">No hay ninguna oferta por el momento</h2>
		
		{% endif %}
        <br></br>
        
        {% for req in requests %}
		<div class="card">
                
			<div class="card-body">

				<div class="row">
					<div class="col-sm-12 col-md-6 col-lg-8 col-xl-12">
						<br></br>
						
						<form>
							<fieldset disabled>
								<div class="mb-3">
									<label for="id_offered_product" class="form-label">ID Solicitud</label>
									<input type="text" id="id_offered_product" class="form-control" placeholder="{{ req.id_offered_product }}">
								</div>


								<div class="mb-3">
									<label for="offer" class="form-label">Producto ofrecido</label>
									<input type="text" id="offer" class="form-control" placeholder=" {{ req.offer }}">
								</div>

								<div class="mb-3">
									<label for="status" class="form-label">Estado de solicitud de producto</label>
									<input type="text" id="status" class="form-control" placeholder=" {{ req.status }}">
								</div>
							</fieldset>

							<div class="d-flex justify-content-end">
							<!-- <div class="d-flex flex-row-reverse"> -->
							
								<form class="d-flex px-1">
									<a class="btn btn-primary btn-success btn-md px-4" type="submit" href="{% url 'accept_product_offer' req.id_offered_product %}" id="btn-accept-product-offer">
										<span class="icon">
											<i class="fa-solid fa-xmark"></i>
										</span>

										<span class="btn-text">
											Aceptar oferta
										</span>
									</a>
								</form>


								<form class="d-flex px-1">

									<a class="btn btn-primary btn-warning btn-md px-4" type="submit" href="{% url 'decline_product_offer' req.id_offered_product %}" id="btn-decline-product-offer">
										<span class="icon">
											<i class="fa-solid fa-xmark"></i>
										</span>

										<span class="btn-text">
											Rechazar oferta
										</span>
									</a>
								</form>
							

								<form class="d-flex px-1">

									<a class="btn btn-primary btn-danger btn-md px-4" type="submit" href="{% url 'delete_product_offer' req.id_offered_product %}" id="btn-delete-product-offer">
										<span class="icon">
											<i class="fa-solid fa-trash"></i>
										</span>

										<span class="btn-text">
											Eliminar oferta
										</span>
									</a>
								</form>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
        {% endfor %}
    </div>
</div>
{% endblock %}