{% extends './layout.html' %}
{% load humanize %}

{% block content %}

<div class="row">
    <div class="col-lg-12"> <!-- 4 -->

        <div class="col-12">

            <h1 class ="h1" class="text-start text-light">Transportes</h1>

            <br></br>
            <br></br>
            
            <!-- publicaciones -->

            {% for transport in transports %}

            <div class="table-responsive py-4">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th></th>
                        </tr>
                    </thead>
                    
                    <tbody>

                        <tr>
                            <div class="container-article">
                                
                                <div>
                                    <div class="card text-white bg-dark mb-3" style="max-width: 100%; max-height : auto;">
                                        <div class="card-header">
                                            <i class="clock"></i>
                                            <time data-time="#">{{ transport.timestamp|naturaltime }}</time>
                                            <br></br>
                                            <h2 class="h2 text-start text-light">Transporte <span class="text-muted">{{ transport.type }}</span></h2>
                                        </div>
                                        
                                        <div class="card-body">

                                            <div class="row">
                                                <div class="col-sm">
                                                    <div class="col-12">
                                                        {% if transport.image %}
                                                        <img class="card-img img-fluid" src="{{ transport.image.url }}" alt="" style="max-width : 600px; max-height : 300px">
                                                        {% endif %}

                                                        <br></br>
                                                    </div>
                                                </div>
                                                
                                                <div class="col-sm">
                                                    <h6 class="h6 text-start">Patente <span class="text-muted">{{ transport.patent }}</span></h6>
                                                    <h6 class="h6 text-start">Tamaño <span class="text-muted">{{ transport.size }}</span></h6>
                                                    <h6 class="h6 text-start">Capacidad del transporte (kg)<span class="text-muted">{{ transport.capacity }}</span></h6>
                                                    <h6 class="h6 text-start">¿Cuenta con refrigeracion?'<span class="text-muted">{{ transport.refrigeration }}</span></h6>
                                                    <br></br>
                                                    <br></br>

                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
      
                            </div>

                        </tr>

                    </tbody>

                </table>
            </div>
        {% endfor %}



        </div>
    </div>
</div>


{% endblock %}