{% extends './layout.html' %}
{% load humanize %}

{% block content %}



<style>

    .text-title {
        padding-top : 60px;
        padding-bottom: 100px;
    }

    #searcher {
		padding-top: 50px;
		padding-bottom: 100px;
	}
    
    
</style>


<div class="row">

    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12"> <!-- 4 -->

		<div class="p-3 mb-2 bg-dark text-white">
			<h1 class="display-6 text-title text-center">Transportes</h1>

			<div class="p-3 bg-dark text-white">

				<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12" id="searcher" >
					<form action="{% url 'search_product' %}" class="form-inline" method="get">
		
						<div class="input-group align-content-end" style="padding-left: 15%; padding-right: 15%;">
		
							<input name="search"
								   type=""
								   class="form-control bg-transparent"
								   placeholder="Ingresa un dato de algun transporte"
								   id="input-search">
		
							<button class="btn btn-success btn-group-sm" type="submit" id="btn-search">
								<span class="icon">
									<i class="fa-solid fa-search"></i>
								</span>
						
								<span class="btn-text">
									Buscar transporte
								</span>
							</button>
						</div>
					</form>
		
                </div>
			</div>
        </div>
        <hr class = "featurette-divider"
        style = "padding-top : 10px; padding-bottom: 20px; background-color: transparent;">


        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12"> 

            {% if transports.count > 0 %}

                <div class="mb-2bg-white text-dark">
                    
                    {% if transports.count == 1 %}
                        <h1 class="display-6 text-start">{{ transports.count }} Transporte disponible</h1>

                    {% elif transports.count > 1 %}
                        <h1 class="display-6 text-start">{{ transports.count }} Transportes disponibles</h1>

                    {% endif %}
                </div>

            {% else %}
                <div class="mb-2bg-white text-dark" style="padding-top: 100px; padding-bottom: 100px;">
                    <h1 class="display-6 text-center">No hay transportes disponibles por el momento ☹</h1>
                </div>
            {% endif %}

            {% for transport in transports %}

                <div class="table-responsive py-4">
                    <table class="table table-striped">
                        <tbody>

                            <tr>
                                <div class="container-article">
                                    
                                    <div>
                                        <div class="card text-white bg-dark mb-3" style="max-width: 100%; max-height : auto; border-radius: 40px;">
                                            <div class="card-header">
                                                <i class="clock"></i>
                                                <time data-time="#">{{ transport.timestamp|naturaltime }}</time>
                                                <br></br>
                                                <h2 class="h2 text-start text-light">Transporte <span class="text-muted">{{ transport.type }}</span></h2>
                                            </div>
                                            
                                            <div class="card-body">

                                                <div class="row">
                                                    <div class="col-sm">
                                                        <div class="col-12">
                                                            {% if transport.image %}
                                                                <img class="card-img img-fluid" src="{{ transport.image.url }}" alt="" style="max-width : 600px; max-height : 300px; border-radius: 40px;">
                                                            {% endif %}

                                                            <br></br>
                                                        </div>
                                                    </div>
                                                    
                                                    <div class="col-sm">
                                                        <h6 class="h6 text-start">Patente <span class="text-muted">{{ transport.patent }}</span></h6>
                                                        <h6 class="h6 text-start">Tamaño  <span class="text-muted">{{ transport.size }}</span></h6>
                                                        <h6 class="h6 text-start">Capacidad del transporte (kg) <span class="text-muted">{{ transport.capacity }} kg</span></h6>
                                                        <h6 class="h6 text-start">¿Cuenta con refrigeracion? <span class="text-muted">{{ transport.refrigeration }}</span></h6>
                                                        <br></br>
                                                        <br></br>

                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
        
                                </div>

                            </tr>

                        </tbody>

                    </table>
                </div>
            {% endfor %}

        </div>
    </div>
</div>


{% endblock %}