{% extends './layout.html' %}

{% block content %}



{% load humanize %}
{% load static %}

<style>

    .text-title {
        padding-top : 60px;
        padding-bottom: 100px;
    }
    
    .card-profile {
        padding-top : 10px;
        padding-bottom: 15px;
    }

</style>


<div class="row">

    <div class="col-12">



        <div class="p-3 mb-2 bg-dark text-white" style="border-radius: 40px;">
            <h1 class="display-6 text-title text-center">Crea una nueva solicitud de producto</h1>



			<div class="card bg-transparent" style="border-radius: 40px;">
                
				<div class="card-body">
	
					<div class="row">
						<div class="col-sm-12 col-md-6 col-lg-8 col-xl-12">
							<form action="" method="POST" enctype="multipart/form-data">
								{% csrf_token %}
								<div class="col-sm-12 col-md-6 col-lg-8 col-xl-12">
									<div class="table-responsive py-4">
										<table class="table table-striped">
											<hr class = "featurette-divider"
												style = "background-color: transparent;">
											
											<tbody>
						
												<tr>
													{{ product_request_form.as_p}}
	
													<div class="d-grid gap-2 col-6 mx-auto">
	
														<hr class = "featurette-divider"
															style = "background-color: transparent;">

														<button class="btn btn-primary btn-danger btn-lg text-white"
																type="submit"
																href="#"
																style="border-radius: 40px;">
															<span class="icon">
																<i class="fa-solid fa-circle-plus"></i>
															</span>
													
															<span class="btn-text">
																Enviar solicitud de producto
															</span>
														</button>
	
											
													</div>
													<hr class = "featurette-divider"
													style = "background-color: transparent;">
												</tr>
											</tbody>
										</table>
										<hr class = "featurette-divider"
											style = "background-color: transparent;">
	

										<style>
											select {
												padding: 5px;
												color: #222222;
												font-size: 12px;
												background: transparent;
												-webkit-appearance: none;

											}
											select option{
												background-color: #222222;
											}
										</style>

									</div>
								</div>
							</form>
						</div>
	
					</div>
	
				</div>
			</div>







        </div>
        

    </div>
</div>
{% endblock %}