{% extends './layout.html' %}

{% block content %}



{% load humanize %}
{% load static %}

<style>

    .text-title {
        padding-top : 60px;
        padding-bottom: 100px;
    }
    
    .card-profile {
        padding-top : 10px;
        padding-bottom: 15px;
    }

</style>


<div class="row">

    <div class="col-12">
		<div class="p-3 mb-2 bg-dark text-white"  style="border-radius: 40px;">
			<h1 class="display-6 text-title text-center">Crea una nueva publicación de transporte</h1>


			<div class="card bg-transparent">
                
				<div class="card-body">
	
					<div class="row">
						<div class="col-sm-12 col-md-6 col-lg-8 col-xl-12">
							<legend></legend>
							<form action="" method="POST" enctype="multipart/form-data">
								{% csrf_token %}
								<div class="col-sm-12 col-md-6 col-lg-8 col-xl-12">
									<div class="table-responsive py-4">
										<table class="table table-striped">
											
											<tbody>
						
												<tr>
													{{ transport_post_form.as_p }}
						
													<div class="d-grid gap-2 col-6 mx-auto">
						
														<hr class = "featurette-divider"
															style = "padding-top : 1%; padding-bottom: 5%; background-color: transparent;">

														<button class="btn btn-primary btn-danger btn-lg text-white"
																type="submit"
																href="#"
																id="btn-post-transport"
																style="border-radius: 40px;">
															<span class="icon">
																<i class="fa-solid fa-truck-plane"></i>
															</span>

															<span class="btn-text">
																Publicar transporte
															</span>
														</button>

														<hr class = "featurette-divider"
															style = "padding-top : 10px; background-color: transparent;">
			
	
													</div>
						
												</tr>
											</tbody>
										</table>
										<br></br>
	
									</div>
								</div>
							</form>
						</div>
	
					</div>
	
				</div>


				<style>
					select {
						padding: 5px;
						color: #222222;
						font-size: 12px;
						background: transparent;
						-webkit-appearance: none;

					}
					select option{
						background-color: #222222;
					}
				</style>
			</div>
		</div>
        

    </div>
</div>
{% endblock %}